
NET "RESET" LOC ="AK7";

NET "LEDS[0]" LOC = "H18";
NET "LEDS[1]" LOC = "L18";
NET "LEDS[2]" LOC = "G15";
NET "LEDS[3]" LOC = "AD26";

NET "SWITCHES[0]" LOC = "U25";
NET "SWITCHES[1]" LOC = "AG27";
NET "SWITCHES[2]" LOC = "AF25";
NET "SWITCHES[3]" LOC = "AF26";

NET "CLOCK" LOC ="AH15";

NET "CLOCK" TNM_NET = "CLOCK";
TIMESPEC "TS_CLOCK" = PERIOD "CLOCK" 10 ns HIGH 50%;
